.swipeButts {
    /* background-color: rgba(0, 0, 0); */
    position: relative;
    width: 370px;
    display: flex;
    justify-content: space-between;
    padding: 10px 5px 10px 5px;
}

.swipeButts .MuiIconButton-root {
    /* background-color: black; */
    /* box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.6); */
  
}

.swipeButt_rep{
    color: rgb(252, 198, 74) !important;
    box-shadow: 20px rgba(252, 198, 74, 0.6);
}

.swipeButt_close{
    color: #FE4556 !important;
    
}

.swipeButt_star{
    color: #47d1f0 !important;

}

.swipeButt_fav{
    color: #068867 !important;
}

.swipeButt_bolt{
    color: #B13EF0 !important;
}